<template>

  <video :src="src" controls id="xx"></video>

  <template v-if="chapters">
    <p>Klicke ein Kapitel an, um zur Stelle im Video zu springen:</p>
    <div
        v-for="(chapter,seconds) in chapters"
        :class="{chapter:true,passed:seconds>currentTime,current:currentChapter === chapter}"
        @click="setTime(seconds)">
      <div class="time">{{ Math.floor(seconds / 60) }}:{{ seconds % 60 < 10 ? '0' + seconds % 60 : seconds % 60 }}</div>
      <div> {{ chapter }}</div>
    </div>
  </template>

</template>

<script setup>
// import ref
import {ref, onMounted, computed} from 'vue'

const props = defineProps(["src", "chapters"])

const setTime = (seconds) => {
  if (typeof document === 'undefined') return
  let y = document.getElementById("xx");
  y.currentTime = seconds;
  y.play()
  refreshTime()
}

// get current chapter as computed property
const currentChapter = computed(() => {
  if (typeof document === 'undefined') return

  // go trough chaptes
  let last_chapter = null
  for (let [seconds, chapter] of Object.entries(props.chapters)) {
    if (seconds > currentTime.value) {
      return last_chapter
    }
    last_chapter = chapter
  }

  return last_chapter

})

const currentTime = ref(0)

const refreshTime = () => {
  if (typeof document === 'undefined') return
  let y = document.getElementById("xx");

  currentTime.value = y.currentTime;
}

// created method

onMounted(() => {
  if (typeof document === 'undefined') return
  let y = document.getElementById("xx");
  y.addEventListener("timeupdate", refreshTime);
})


</script>


<style>
video {
  width: 100%;
  height: 100%;
}
.chapter {
  cursor: pointer;
  padding: 1px 9px;
  margin-bottom: 3px;
  border-radius: 2px;
  display: flex;
  background: #fff1;
}

.chapter.passed {
  opacity: 0.5;
}

.chapter-title {
  width: 100%;
  background: #0003;
}

.chapter:hover {
  background: #fff2;
}

.chapter.current, .chapter.current:hover {
  background: var(--c-text-accent);
  color: #000;
}

.chapter:active {
  background: #fff6;
}

.time {
  width: 3em;
  text-align: right;
  padding-right: 1em;
  font-family: monospace;

}
</style>